$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1640px;

/*containers size*/
$container-max-widths: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

/*fonts*/

/*colors*/
$primary: #00df5e;
$light: #f9f9f9;
$gray: #828282;
$gray-200: #333333;
$gray-400: #212121;
$dark: #171717;

$theme-colors: (
  'primary': $primary,
  'light': $light,
  'gray': $gray,
  'gray-200': $gray-200,
  'gray-400': $gray-400,
  'dark': $dark
);
